body{
  background-image: url('https://image.freepik.com/free-vector/white-canvas-background_1053-239.jpg');
}
.main-page{
  background-color: white;
  height: 100%;
}
#gabriel{
  width: 7em;
  height: 7em;
  border-radius: 50%;
  margin: 10px 0px;
}
.header-text{
  margin: 0px 80px;
}

.li-footer{
  list-style: none;
   margin: 0px 10px; 
}

i{
  font-size: 2em;
  color: rgb(0, 0, 0);
}

#academica{
  border-radius: 50%;
  width: 40%;
}

.section-texto{
  margin: 0px 120px;
}

.conteudo{
  margin-top: 50px;
}
